/////////////
//LOGO

.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

/////////////
//SEARCH

.search {
  @include flexCenter;
  flex: 0 0 40%;

  @include respond($bp-small-2) {
    order: 1;
    flex: 0 0 100%;
    background-color: var(--clr-grey-light-2);
  }

  &__input {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    padding: 0.75rem 2rem;
    border-radius: 30rem;
    border: none;
    background-color: var(--clr-grey-light-2);
    width: 90%;
    margin-right: -3.5rem;
    @include transition($func: ease);

    &::-webkit-input-placeholder,
    &::placeholder {
      color: var(--clr-grey-dark-2);
    }

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--clr-grey-light-3);
    }
  }

  &__button {
    border: none;
    background-color: transparent;

    &:focus {
      outline: none;
      background-color: var(--clr-grey-light-3);
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--clr-grey-dark-3);
  }
}

/////////////
//USER NAV

.user-nav {
  display: flex;
  align-self: stretch;

  & > * {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    cursor: pointer;
  }

  & > *:hover {
    background-color: var(--clr-grey-light-3);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    width: 2.25rem;
    height: 2.25rem;
    fill: var(--clr-grey-dark-2);
  }

  &__amount {
    position: absolute;
    background-color: var(--clr-primary);
    font-size: 0.8rem;
    color: var(--clr-white);
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    top: 1.5rem;
    right: 1.25rem;
    @include flexCenter;
  }

  &__user-img {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

/////////////
//SIDE NAV

.side-nav {
  @include adjustFlex(space-between, stretch);
  flex-direction: column;
  background-color: var(--clr-grey-dark-1);

  &__list {
    list-style: none;
    font-size: 1.4rem;
    margin-top: 3rem;

    @include respond($bp-medium) {
      margin: 0;
      display: flex;
    }

    @include respond($bp-small-3) {
      font-size: 1.2rem;
    }
  }

  &__item {
    position: relative;

    @include respond($bp-medium) {
      flex: 1;
    }

    &:not(:last-child) {
      margin-bottom: 0.5rem;

      @include respond($bp-medium) {
        margin: 0;
      }
    }
  }

  &__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    transform: scaleY(0);
    background-color: var(--clr-primary);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
      background-color 0.1s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 1.5rem 3.25rem;
    text-decoration: none;
    color: var(--clr-grey-light-3);
    text-transform: uppercase;
    position: relative;
    z-index: 5;

    @include respond($bp-medium) {
      justify-content: center;
    }

    @include respond($bp-small) {
      flex-direction: column;
    }

    @include respond($bp-small-3) {
      padding: 1.5rem 1rem;
    }
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: currentColor;
    margin-right: 2rem;

    @include respond($bp-small) {
      margin-right: 0;
      margin-bottom: 0.7rem;
    }

    @include respond($bp-small-3) {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

/////////////
//COPYRIGHT

.copyright {
  padding: 2rem;
  font-size: 1.2rem;
  color: var(--clr-grey-light-4);
  text-align: center;

  @include respond($bp-medium) {
    display: none;
  }
}

/////////////
//GALLERY

.gallery {
  display: flex;

  &__img {
    display: block;
    width: 100%;
  }
}

/////////////
//OVERVIEW

.overview {
  display: flex;
  background-color: var(--clr-white);
  align-items: center;
  border-bottom: var(--border-bottom);

  @include respond($bp-small-2) {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: 2rem 5rem;
    padding: 1.75rem 0;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.25rem;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;

    @include respond($bp-medium) {
      font-size: 2rem;
      padding: 1.25rem 2.75rem;
    }

    @include respond($bp-small-2) {
      padding: 0;
    }
  }

  &__stars {
    display: flex;
    margin-left: 1rem;

    @include respond($bp-medium) {
      margin-left: 0rem;
    }
  }

  &__star-icon,
  &__location-icon {
    fill: var(--clr-primary);
    width: 1.75rem;
    height: 1.75rem;

    @include respond($bp-medium) {
      width: 1.65rem;
      height: 1.65rem;
    }
  }

  &__location-icon {
    margin-right: 0.5rem;
  }

  &__location {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 1.2rem;

    @include respond($bp-small-2) {
      margin-left: initial;
      justify-self: end;
      margin-right: 25%;
    }
  }

  &__rating {
    background-color: var(--clr-primary);
    align-self: stretch;
    @include flexCenter;
    flex-direction: column;
    color: var(--clr-white);
    padding: 0 2.25rem;
    margin-left: 3rem;

    @include respond($bp-medium) {
      padding: 0 2rem;
      width: max-content;
    }

    @include respond($bp-small-2) {
      margin-left: initial;
      padding: 0.5rem 2.25rem;
    }
  }

  &__rating-score {
    font-size: 2.25rem;

    @include respond($bp-medium) {
      font-size: 2rem;
    }
  }

  &__rating-count {
    font-size: 0.8rem;
    text-transform: uppercase;
  }
}

/////////////////
//INLINE BUTTON

.btn-inline {
  background-color: transparent;
  border: none;
  text-transform: capitalize;
  color: var(--clr-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  display: inline-block;
  padding-bottom: 2px;
  cursor: pointer;
  @include transition;

  span {
    margin-left: 3px;
    @include transition($pro: margin-left);
  }

  &:hover {
    color: var(--color-grey-dark-1);

    span {
      margin-left: 8px;
    }
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: var(--shadow-dark);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

///////////
//PARAFS
.paraf:not(:last-of-type) {
  margin-bottom: 2rem;
}

///////////
//LIST

.list {
  list-style: none;
  padding: 3rem 0;
  margin: 3rem 0;
  border-top: var(--border-bottom);
  border-bottom: var(--border-bottom);
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem;

    @include respond($bp-small-3) {
      flex: 0 0 100%;
      margin-bottom: 1.25rem;
    }
  }

  &__item::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.7rem;

    // for older browsers
    // background-image: url(../img/SVG/chevron-thin-right.svg);
    // background-size: cover;

    background-color: var(--clr-primary);
    -webkit-mask-image: url(../img/SVG/chevron-thin-right.svg);
    -webkit-mask-size: cover;
    mask-image: url(../img/SVG/chevron-thin-right.svg);
    mask-size: cover;
  }
}

//////////////////
//RECOMMENDATION

.recommendation {
  display: flex;
  align-items: center;

  &__paraf {
    color: var(--clr-grey-dark-3);
    font-size: 1.3rem;
    margin-right: auto;
  }

  &__images {
    display: flex;
  }

  &__image {
    width: 4rem;
    height: 4rem;
    display: block;
    border-radius: 50%;
    border: 3px solid var(--clr-white);
    box-sizing: content-box;

    &:not(:last-child) {
      margin-right: -2rem;
    }
  }
}

//////////////////
//REVIEW

.review {
  background-color: var(--clr-white);
  margin-bottom: 3.5rem;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  position: relative;
  overflow: hidden;

  @include respond($bp-medium) {
    margin-bottom: 2.75rem;
  }

  @include respond($bp-medium-2) {
    width: 100%;
    max-width: 67.3333rem;
  }

  &__text {
    margin-bottom: 2rem;
    position: relative;
    z-index: 10;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__photo {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
  }

  &__user-box {
    margin-right: auto;
  }

  &__user-name {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.4rem;
  }

  &__user-date {
    text-transform: capitalize;
    font-size: 1rem;
    color: var(--clr-grey-dark-3);
  }

  &__rating {
    font-size: 2.2rem;
    color: var(--clr-primary);
    font-weight: 300;

    @include respond($bp-medium) {
      font-size: 2rem;
    }
  }

  &:before {
    content: '\201C';
    line-height: 1;
    font-size: 20rem;
    font-family: sans-serif;
    line-height: 1;
    color: var(--clr-grey-light-2);
    position: absolute;
    top: -2.75rem;
    left: -1rem;
  }
}

///////////////////
//CALL TO ACTION

.cta {
  text-align: center;
  padding: 3rem 0;
  background-color: var(--clr-white);

  @include respond($bp-medium) {
    padding: 2rem 0;
  }

  &__title {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2rem;

    @include respond($bp-medium) {
      font-size: 1.75rem;
    }

    @include respond($bp-small-3) {
      font-size: 1.65rem;
      padding: 0 1.5rem;
    }
  }
}

//////////////////
//CTA BUTTON

.btn {
  border-radius: 10rem;
  border: none;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
  background-image: linear-gradient(
    90deg,
    var(--clr-primary-light),
    var(--clr-primary-dark)
  );
  color: var(--clr-white);
  position: relative;
  overflow: hidden;

  @include respond($bp-medium) {
    font-size: 1.35rem;
  }

  & > * {
    display: inline-block;
    @include transition($func: ease);
  }

  &__invisible {
    position: absolute;
    top: -100%;
    left: 0;
    padding: 2rem 0;
    width: 100%;
    height: 100%;
  }

  &__visible {
    padding: 2rem 7.5rem;

    @include respond($bp-medium) {
      padding: 1.75rem 6.25rem;
    }
  }

  &:hover {
    background-image: linear-gradient(
      270deg,
      var(--clr-primary-light),
      var(--clr-primary-dark)
    );
  }

  &:hover &__invisible {
    top: 0;
  }

  &:hover &__visible {
    transform: translateY(100%);
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}
